<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-Todo-App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="navbar">
        <nav>
            <!-- Logo of the todo app -->
            <a href="/" class="logo"> <img src="#" alt="app logo here"></a>

            <!--  Hamburger icon-->
            <a href="#"><i class="fa fa-align-justify"></i></a>

            <!-- navigation list -->
            <div class="nav-menu">

                <ul class="nav-menu-list">
                    
                    <li class="nav-menu items"> <a href="#">Home</a> </li>
                    <li class="nav-menu items"><a href="#">About us</a></li>
                    

                </ul>

            </div>




        </nav>
    </div>

</body>

</html>