<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-Todo-App</title>

    <!-- full path of stylesheet is not required as we already set the static folder to public -->
    <link rel="stylesheet" href="Stylesheets/navbar.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
        <!-- Logo of the todo app -->
        <header class="header">
            <h2><a href="/" class="logo"> <img src="#">MyTo-Do-app</a></h2>
        
        <nav>
            <!-- navigation list -->
            <ul class="main-nav">
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    
</header>
</body>

</html>