<!DOCTYPE html>

<head>
    <title>Todo App</title>
    <link rel="stylesheet" href="/stylesheets/body.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        
</head>

<body>
    <div class="todo-container">
        <h2>Your-Todos</h2>
        <div class="todo">
            <form action="/" method="POST" class="todo-header">
                <input type="text" name="content">
                <button type="submit"><span class="fas fa-plus">ADD</span></button>
            </form>
            <ul class="todo-list">
                <% todos.forEach(todo => { %>
                <li class="todo-list-item">
                <div class="todo-list-item-name"><%= todo.todo %></div>
                <a href="/edit/<%= todo._id %>" class="edit">Edit
                <span class="fas fa-edit"></span>
                </a>
                <a href="/remove/<%= todo._id %>" class="remove">
                <span class="fas fa-times">Delete</span>
                </a>
                </li>
                <% }) %>
                </ul>
        </div>
    </div>
</body>